Source: golang-github-hashicorp-golang-lru-v2
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Anthony Fok <foka@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.18~)
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-hashicorp-golang-lru-v2
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-hashicorp-golang-lru-v2.git
Homepage: https://github.com/hashicorp/golang-lru
XS-Go-Import-Path: github.com/hashicorp/golang-lru/v2

Package: golang-github-hashicorp-golang-lru-v2-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}
Description: Golang LRU cache (v2 with support for generics)
 This provides the lru package which implements a fixed-size thread safe LRU
 cache.  It is based on the cache in Groupcache.  v2 adds support for generics.
 .
 This package contains the source.
